/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

/** @format */

/* 
Colors

#E84405
#2F3C7E
#FBEAEB
 */

body {
	background-color: #190f0f;
}

main {
	margin: 0;
	padding: 0;
	width: 100%;
}

#navbarDiv {
	margin: 0;
	width: 100%;
	padding: 0;
	position: sticky;
	width: 100%;
	height: 10vh;
	background-color: rgba(254, 254, 254, 0.947);
}

.navbar {
	height: inherit;
	padding: 0 5%;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: center;
	font-weight: 500;
	font-size: medium;
	list-style: none;
}

.navLinks {
	text-decoration: none;
	color: #000000;
	padding: 5px;
}

.navLinks:hover {
	color: #e84405;
}

.gradient-text {
	background: linear-gradient(
		to right,
		#a855f7,
		#ec4899,
		#eab308,
		#ec4899,
		#a855f7,
		#eab308
	);
	background-size: 333% 333%;
	background-clip: text;
}
