.searchJobs {
    background-color: #F5F5F5;
}

.header {
    text-align: center;
    color: #2F3C7E;
    font-size: 40px;
    margin-bottom: 30px;
}

.searchBox {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.nameSearch {
    margin-bottom: 15px;
}

.searchBtn {
    font-size: 15px;
    padding: 5px;
    border-radius: 5px;
    color: white;
    background-color: #2F3C7E;
    border-color:#2F3C7E;
    margin-left: 15px;
}

.input {
    margin-left:10px;
    border-radius: 5px;
    height: 30px;
}

#name {
    width: 300px;
}

#location {
    width: 210px;
}

.listContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 25px;
    background-color: white;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.jobs {
    position: relative;
    text-align: left;
    border: 2px solid black;
    border-radius: 10px;
    padding: 30px;
    margin: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.title {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color: #2F3C7E;
}

.add {
    position: absolute;
    right: 20px;
    bottom: 120px;
    font-size: 15px;
    padding:5px;
    background-color: #2F3C7E;
    color: white;
    border-color:#2F3C7E;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.elements {
    margin-left: 25px;
}

.pageBtn {
    font-size: 15px;
    padding: 5px;
    margin: 5px;
}

